In [15]:
from pyspark.sql.functions import size

In [21]:
from pyspark.sql.functions import array_contains

In [1]:
reader = sqlContext.read.format('com.databricks.spark.avro')

In [2]:
df = reader.load('data/spark_metadata.avro')

In [3]:
df.columns

['id',
 'path',
 'message_id',
 'date',
 'from',
 'to',
 'cc',
 'bcc',
 'subject',
 'references']

In [22]:
selection1 = df[df['from'].startswith('maggie')]
#selection2 = selection1[selection1['to'].apply(lambda name: name.startswith('kev'))]
#selection2.select(['id', 'from', 'to', 'subject']).show()
# col = selection1['to']
selection1.show()

+------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|    id|                path|          message_id|                date|                from|                  to|                  cc|                 bcc|             subject|references|
+------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|486383|maildir/lokay-m/a...|<10497489.1075844...|2001-01-08T08:34:...|maggie.matheson@e...|[kevin.hyatt@enro...|                  []|                  []|Re: TW Security A...|        []|
|490755|maildir/lokay-m/s...|<18395121.1075844...|2001-01-08T08:34:...|maggie.matheson@e...|[kevin.hyatt@enro...|                  []|                  []|Re: TW Security A...|        []|
|505280|maildir/mcconnell...|<14851779.1075861...|2001-11-15T11:52:...|maggie.matheson@e...|[paul.y'barbo@enr...|[linda.trevino@en...|[linda.trevino@en...|  CAS Access Request|        []|
|215502|maildir/lavorato-...|<12519111.1075845...|2000-01-19T09:41:...|maggie_timmins@cd...|[afowler@arcfinan...|                  []|                  []|BALLOON PRIZES - ...|        []|
|215875|maildir/lavorato-...|<22855342.1075845...|2000-01-13T11:45:...|maggie_timmins@cd...|[afowler@arcfinan...|                  []|                  []|WHERE ARE THE BAL...|        []|
|216665|maildir/lavorato-...|<4430863.10758577...|2000-01-19T09:41:...|maggie_timmins@cd...|[afowler@arcfinan...|                  []|                  []|BALLOON PRIZES - ...|        []|
|216675|maildir/lavorato-...|<24098035.1075857...|2000-01-13T11:45:...|maggie_timmins@cd...|[afowler@arcfinan...|                  []|                  []|WHERE ARE THE BAL...|        []|
|226218|maildir/ybarbo-p/...|<20085101.1075862...|2001-11-15T11:52:...|maggie.matheson@e...|[paul.y'barbo@enr...|[linda.trevino@en...|[linda.trevino@en...|  CAS Access Request|        []|
|227501|maildir/hyvl-d/al...|<9107180.10758422...|2000-01-07T08:20:...|maggie.ortiz@enro...|[daniel.verastegu...|[connie.sutton@en...|[connie.sutton@en...|Entex Gas Marketi...|        []|
|228886|maildir/hyvl-d/ga...|<23025436.1075842...|2000-01-07T08:20:...|maggie.ortiz@enro...|[daniel.verastegu...|[connie.sutton@en...|[connie.sutton@en...|Entex Gas Marketi...|        []|
|108080|maildir/schoolcra...|<18625006.1075860...|2002-01-25T14:10:...|maggie.matheson@e...|[darrell.schoolcr...|[ramona.betancour...|[ramona.betancour...|         POI    8042|        []|
|108209|maildir/schoolcra...|<23020759.1075860...|2002-01-23T11:17:...|maggie.matheson@e...|[linda.trevino@en...|[charlie.yuan@enr...|[charlie.yuan@enr...|      RE: POI 500631|        []|
|108373|maildir/schoolcra...|<3271564.10758607...|2002-01-23T11:42:...|maggie.matheson@e...|[maggie.matheson@...|[charlie.yuan@enr...|[charlie.yuan@enr...|      RE: POI 500631|        []|
|108561|maildir/schoolcra...|<18698138.1075860...|2002-01-23T14:49:...|maggie.matheson@e...|[linda.trevino@en...|[darrell.schoolcr...|[darrell.schoolcr...|     West Texas Pool|        []|
|352663|maildir/hayslett-...|<7233119.10758442...|2000-06-28T08:37:...|maggie.schroeder@...|[rod.hayslett@enr...|                  []|                  []|Brian Schroeder -...|        []|
|352742|maildir/hayslett-...|<12727684.1075844...|2000-11-14T08:34:...|maggie.schroeder@...|[gruberg@epenergy...|[rod.hayslett@enr...|[rod.hayslett@enr...|           Tangerine|        []|
|353082|maildir/hayslett-...|<19601085.1075862...|2001-07-02T12:40:...|maggie.schroeder@...|[rod.hayslett@enr...|                  []|                  []|       Maggie's info|        []|
|353715|maildir/hayslett-...|<27926586.1075844...|2000-11-14T08:34:...|maggie.schroeder@...|[gruberg@epenergy...|[rod.hayslett@enr...|[rod.hayslett@enr...|           Tangerine|        []|
|353934|maildir/hayslett-...|<15548518.1075844...|2000-06-28T08:37:...|maggie.schroeder@...|[rod.hayslett@enr...|                  []|                  []|Brian Schroeder -...|        []|
|354101|maildir/hayslett-...|<16326595.1075844...|2000-06-28T08:37:...|maggie.schroeder@...|[rod.hayslett@enr...|                  []|                  []|Brian Schroeder -...|        []|
+------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [29]:
from pyspark.sql.functions import udf

In [30]:
from pyspark.sql.types import BooleanType

In [40]:
# selection1[col.getItem(0).startswith('kevin')].show()
# selection1.select(size(col)).show()

kevudf = udf(hasKevin, BooleanType())
selection1.filter(kevudf(df.to)).show()

+------+--------------------+--------------------+--------------------+--------------------+--------------------+---+---+--------------------+----------+
|    id|                path|          message_id|                date|                from|                  to| cc|bcc|             subject|references|
+------+--------------------+--------------------+--------------------+--------------------+--------------------+---+---+--------------------+----------+
|486383|maildir/lokay-m/a...|<10497489.1075844...|2001-01-08T08:34:...|maggie.matheson@e...|[kevin.hyatt@enro...| []| []|Re: TW Security A...|        []|
|490755|maildir/lokay-m/s...|<18395121.1075844...|2001-01-08T08:34:...|maggie.matheson@e...|[kevin.hyatt@enro...| []| []|Re: TW Security A...|        []|
+------+--------------------+--------------------+--------------------+--------------------+--------------------+---+---+--------------------+----------+

In [20]:
df1 = df.toPandas()

In [57]:
def array_any(f, col):
    return any(map(f, col))

def lambda_startswith(prefix):
    return lambda value: value.startswith(prefix)

def hasKevin(tos):
    return array_any(lambda_startswith('kev'), tos)

def contains(value):
    return udf(lambda name: value in name, BooleanType())

df2 = df1[df1['from'].apply(lambda_startswith('maggie'))]

selection2 = df2[df2['to'].apply(hasKevin)]
selection2[['from', 'to', 'subject']]

,from,to,subject
21856,maggie.matheson@enron.com,"[kevin.hyatt@enron.com, michelle.lokay@enron.com]",Re: TW Security Access Request
26228,maggie.matheson@enron.com,"[kevin.hyatt@enron.com, michelle.lokay@enron.com]",Re: TW Security Access Request

In [ ]:
selection2['to']

In [36]:
df1[df1['from'].apply(lambda x: x.startswith('wally'))]

,id,path,message_id,date,from,to,cc,bcc,subject,references
456234,33523,maildir/lay-k/deleted_items/472.,<614215.1075860820728.JavaMail.evans@thyme>,2002-01-30T09:42:14-08:00,wallymar@home.com,[klay@enron.com],[],[],Demand Ken Lay Donate Proceeds from Enron Stoc...,[]
492401,69690,maildir/taylor-m/archive/2001_11/49.,<26135252.1075861971244.JavaMail.evans@thyme>,2001-11-07T15:06:58-08:00,wally.shaw@blakes.com,[legal <.taylor@enron.com>],[],[],Fwd: Re: Acknowledgments and Resolutions,[]
492403,69692,maildir/taylor-m/archive/2001_11/51.,<22238007.1075861971290.JavaMail.evans@thyme>,2001-11-07T14:30:16-08:00,wally.shaw@blakes.com,"[douglas.stephen@enron.com, legal <.taylor@enr...",[],[],Acknowledgments and Resolutions,[]

In [63]:
df.select(df['from'])[~contains('enron')(df['from'])].distinct().count()

13782

# Load CSV

In [9]:
dicFile = 'enron_small_dic.csv'

csvLoader = sqlContext.read.format('com.databricks.spark.csv')
dic = csvLoader.options(delimiter='\t', header='false', inferschema='true').load(dicFile)

In [13]:
dic.columns

['C0', 'C1', 'C2']